<ion-header>
  <ion-navbar>
    <ion-title>Mis Tareas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentConfirm()">
        <ion-icon ios="ios-log-out" md="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor= "let tarea of tareas" (press)="cargar(tarea)">
      <ion-card-header>
        {{ tarea.titulo }}
      </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{ tarea.descripcion }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{ tarea.fin | date: "dd/MM/y" }}
          </ion-col>
          <ion-col>
            <ion-badge icon-rigth>{{ tarea.estado }}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>
 <ion-fab right bottom>
    <button ion-fab (click)="cargar('nuevo')" color="light"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
