<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="con" padding >
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Bienvenido</h1>
        <ion-list>
          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input name="nick" [(ngModel)]="usuario.nick" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input name="password" [(ngModel)]="usuario.password" type="password"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button block text-capitalize (click)="iniciarSesion()">Log In</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button clear (click)="registrar()" text-capitalize>Registrate</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
