<ion-tabs >
  <ion-tab [root]="tab1Root" tabTitle="Tareas" tabIcon="md-clipboard"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Citas" tabIcon="ios-bookmarks-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contactos" tabIcon="contacts"></ion-tab>
</ion-tabs>
